.systemChecksLeft {
    align-items: center;
    text-align: center;
    min-width: auto;    
    width: 100%;

}

.controlButton {
  width: 100%;

    margin-bottom: 10px;
}

.systemChecksCenter {
    text-align: center;
    padding: 20px;
     
   width: 100%;

}

.systemChecksRight {
  padding: 20px;
  text-align: center;   
  width: 100%;

}


.MinutesButton {
    font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 15%;
    justify-self: center;
    background-color: #6a626e ;
    margin: 8px auto;
   border: none;
  display: block;
   
}



.MinutesButton2 {
   font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    justify-self: center;
    background-color: #6a626e ;
    margin: 8px auto;
   border: none;
       
   display: block;
}

.MinutesButton3 {
  font-size: 18px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 15%;
  justify-self: center;
  background-color: #6a626e ;
  margin: 8px 10px;
 border: none;

 
}





.MinutesButton:hover, .MinutesButton2:hover {
    background-color: #555151;
  
}
    

@media screen and (max-width: 768px) {
  .MinutesButton {
    width: 160px;
  }

  .MinutesButton2 {
    width: 50%;
    max-width: 280px;
  }
}
