.videoContainer {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

.deckVideo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Makes video cover container without stretching */
}



.MinutesButton {
    font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 13%;
    justify-self: center;
    background-color: #6a626e ;
    margin: 8px;
   border: none;
    
   
}



.MinutesButton:hover {
    background-color: #555151;
  
}
    

/* Only when inside galaxyPage */
.galaxyPage :global(.navbar) {
  background-color: transparent !important;
  backdrop-filter: none; /* remove blur if you had it */
}

.galaxyPage :global(.footer) {
  background-color: transparent !important;
  backdrop-filter: none;
}
