
.orbitDot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 70%;
  background-color: #e8e8ff;
  cursor: pointer;

  /* Simple orbit animation */
  animation: orbit 5s linear infinite;
}

@keyframes orbit {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(20px, -10px); }
  50%  { transform: translate(0, -20px); }
  75%  { transform: translate(-20px, -10px); }
  100% { transform: translate(0, 0); }
}