

.AnimatedText{

                position: absolute;
                height: auto;
                left: 50%;
                padding: 10px 15px;
                background-color: rgba(110, 110, 240, 0.9);
                border-radius: 20px;
                color: white;
                font-size: 14px;
                width: fit-content;
                text-align: center;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
                z-index: 1000;
                transform: translateX(-50%, -50%);
          
}


@media (max-width: 768px) {
  .AnimatedText {
    max-width: 200px;
   
  }
}